*{margin: 0;padding: 0;box-sizing: border-box;}
.App{display: flex;flex-direction: column;height: 100vh;}
.header{width:100%;line-height: 60px;background: #2A0944;box-shadow: 0 0 13px rgba(0,0,0,.2);display: flex;align-items: center;padding: 0 35px;}
.header h1{color: #fff;font-style: italic;}
.footer{width: 100%;line-height: 3rem;background: #FFE194;margin-top: auto;display: flex;justify-content: center;align-items: center;}
.createnote{width: 100%;display: flex;align-items: center;justify-content: center;position: relative;}
.createnote form{width: 350px;background: #fff;border-radius: 10px;min-height: auto;box-shadow: 0 0 10px rgba(0,0,0, 15%);margin: 25px 0;padding: 20px;position: relative;}
.add_icon{position: absolute;width: 40px;height: 40px;box-shadow: 0 0 10px rgba(0,0,0, 15%);border-radius: 50%;display: flex;align-items: center;justify-content: center;bottom: -19px;right: 19px;background: #fff;font-size:30px;font-weight: bold;color: #1E3163;cursor: pointer;transition: 0.5s;}
input, textarea{display: block;width: 100%;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;
    color: #495057;background-color: #fff;  background-clip: padding-box;margin-bottom: 15px;font-size: 14px;
    border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea{margin-bottom: 0;}
.note{width: 250px;min-height: 140px;background: #fff;border-radius: 10px;box-shadow: 0 0 10px rgba(0,0,0, 15%);margin: 15px;padding: 10px;    position: relative;display: flex;flex-direction: column;float: left;}
.note p {font-size: 13px;word-break: break-all;}
.deleteicon{width: 40px;height: 40px;box-shadow: 0 0 10px rgba(0,0,0, 15%);border-radius: 50%;display: flex;align-items: center;justify-content: center;background: #fff;font-size:25px;font-weight: bold;color: #1E3163;cursor: pointer;float: right;margin-top: 10px;transition: 0.5s;}
.add_icon:hover, .deleteicon:hover{background: #2A0944;color: #fff}